#bg-sectionOne{
    background: #84B1D2;
    background: -moz-linear-gradient(top, #84B1D2, #FFFFFF);
    background: -webkit-linear-gradient(top, #84B1D2, #FFFFFF);
    background: linear-gradient(to bottom, #84B1D2, #FFFFFF);
}
#sectionTwo{
    background: #84B1D2;
    background: -moz-linear-gradient(bottom, #84B1D2, #FFFFFF);
    background: -webkit-linear-gradient(bottom, #84B1D2, #FFFFFF);
    background: linear-gradient(to top, #84B1D2, #FFFFFF);
    padding-bottom: 20px
}